#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #cacaca;
  color: #333;
  font-family: Arial, sans-serif;

}

.App h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Responsive layout for tablets and mobile */
@media (max-width: 768px) {
  .App h1{
    font-size: 1.5rem;
  }
}